<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <div class="col-xs-12 col-md-4">
        <div id="profile">

            <div class="portrait" itemprop="image"></div>

            <div class="portrait-title">
                <h2 itemprop="name">{{ .Site.Params.name }}</h2>
                <h3 itemprop="jobTitle">{{ .Site.Params.role }}</h3>
                {{ with .Site.Params.organization }}<h3 itemprop="worksFor">{{ . }}</h3>{{ end }}
            </div>

            <ul class="social-icon">
                {{ range .Site.Params.social }}
                <li>
                    <a href="{{ .link }}" target="_blank" rel="noopener noreferrer" title="{{ .title }}">
                    {{ if eq .icon_pack "ai" }}
                        <i class="ai ai-{{ .icon }} big-icon" aria-hidden="true"></i>
                    {{ else }}
                        {{ if eq .icon_pack "fa" }}
                            <i class="fa fa-{{ .icon }} big-icon" aria-hidden="true"></i>
                        {{ else }}
                            {{ partial .svgPath | safeHTML }}
                        {{ end }}
                    {{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>

        </div>
    </div>

    <div class="visible-sm visible-xs"></div>

    <div class="col-xs-12 col-md-8" itemprop="description">

        {{ .Content }}

        <div class="row">

            {{ if isset .Site.Params.about "interests" }}
            <div class="col-sm-5">
                <h3>{{ with .Site.Params.about.str_interests }}{{ . | markdownify }}{{ end }}</h3>
                <ul>
                    {{ range .Site.Params.about.interests }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}

            {{ if isset .Site.Params.about "experience" }}
            <div class="col-sm-7">
                <h3>{{ with .Site.Params.about.str_experience }}{{ . | markdownify }}{{ end }}</h3>
                <ul class="ul-exp">
                    {{ range .Site.Params.about.experience }}
                    <li>
                        <div class="description">
                            <p class="company">
                                {{ if .company_url }}
                                <a href="{{ .company_url }}" target="_blank" rel="noopener noreferrer">{{ .company }}</a>,
                                {{ else }}
                                {{ .company }},
                                {{ end }}
                                {{ .year }}
                            </p>
                            <p class="position">{{ .position }}</p>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ end }}

        </div>

    </div>
</div>
